{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "import/no-named-as-default": "off",
    "no-multi-spaces": "off",
    "no-plusplus": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-use-before-define": "warn",
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "ignore",
          ":": "ignore"
        }
      }
    ],
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-indent": "off",
    "react/jsx-wrap-multilines": "off"
  }
}
